{% extends 'base.html' %}
{% load static %}
{% block title%}
  <title> Fregat office center </title>
{% endblock title %}
{% block content %}
<div class="container">
  <h1> Choose a place to book </h1>
  {% for space in spaces %}
      <li>
        Space: {{ space.title }} 
      </li>
      <li>
        <a class="btn btn-primary" href="{% url 'booking:space_reserving' space.slug %}">
          Reserve this space
        </a>
        <a class="btn btn-primary" href="{% url 'booking:reserve_edit' space.slug user.username %}">
          Сhange your reserve
        </a>
      </li>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
</div>
{% endblock content %}